<h2>
    {{ title }}
</h2>
<table>
    <tr>
        <th> Subject Id </th>
        <th> Subject Name</th>
    </tr>
    <tr *ngFor="let sub of subs">
        <td> <a [routerLink]="['/Subject', sub.subject_id]">{{sub.subject_id}}</a> </td>
        <td> {{sub.subject_name}} </td>
    </tr>
</table>